.container {
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTCurFxARRQTJpi6mVAp_4MszeKC1uJd0JLEHTujAdL-g7QaMJu"); /* Set background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  height: 100vh; 
  color: white;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin-bottom: 10px;
}
.cell {
  width: 100px;
  height: 100px;
  background-color: #29366f75;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
}
.cell:hover {
  background-color: #6666ac;
}
.game-status {
  font-size: 1.5em;
}
.restart-btn {
  padding: 10px 20px;
  background-color: #1e23a4;
  color: #fff;
  border: none;
  cursor: pointer;
}
.restart-btn:hover {
  background-color: #0056b3;
}
